.bookcase {
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  background-color: khaki;
  padding: 1em;
  border: 1px solid black;
  row-gap: 1em;
  box-sizing: border-box;
  align-items: flex-end; /* keeps the books at the bottom of the bookcase */
}

.book {
  background-color: black;
  display: grid;
  writing-mode: vertical-rl;
  padding: 0.5em;
  height: 400px;
  gap: 0.2em;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}

.author {
  font-size: small;
}

.series {
  font-size: small;
}

.novel {
  background-color: black;
  color: red;
}

.vhs {
  background-color: darkblue;
  color: white;
  height: 420px;
}

.dvd {
  background-color: green;
  color: white;
  height: 420px;
}

.default {
  background-color: black;
  color: red;
}

.title {
  font-weight: bold;
}

.image {
  fill: blue;
}

.splitBookCases {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
}

.splitBookCase {
  display: flex;
}

.bookCaseHeader {
  writing-mode: vertical-rl;
  padding: 1em 0;
  height: 400px;
}

.toggleSwitch {
  margin: 0.5em;
}

.toggleSwitchLabel {
  margin-left: 0.5em;
}

.type {
  writing-mode: horizontal-tb;
}
