.bookcase {
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  background-color: khaki;
  padding: 1em;
  border: 1px solid black;
  row-gap: 1em;
  box-sizing: border-box;
}

.book {
  background-color: black;
  display: flex;
  writing-mode: vertical-rl;
  padding: 0.5em;
  min-height: 300px;
  gap: 0.2em;
}

.author {
  font-size: small;
}

.series {
  font-size: small;
}

.novel {
  background-color: black;
  color: red;
}

.vhs {
  background-color: darkblue;
  color: white;
}

.dvd {
  background-color: green;
  color: white;
}

.default {
  background-color: black;
  color: red;
}

.title {
  font-weight: bold;
}

.image {
  fill: blue;
}

.authorsBookCases {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
}

.authorBookCase {
  display: flex;
}

.authorHeader {
  writing-mode: vertical-rl;
  padding: 1em 0;
}
