.bookcase {
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  background-color: khaki;
  padding: 1em;
  border: 1px solid black;
  row-gap: 1em;
  box-sizing: border-box;
}

.book {
  background-color: black;
  display: flex;
  writing-mode: vertical-rl;
  padding: 0.5em;
  min-height: 300px;
  gap: 0.2em;
}

/* .bookText {
  color: red;
} */

.author {
  font-size: small;
}

.series {
  font-size: small;
}
.novel {
  background-color: black;
  color: red;
}

.default {
  background-color: darkblue;
  color: white;
  background-color: black;
  color: red;
}
.title {
  font-weight: bold;
}
.image {
  fill: blue;
}
